body{
    background-color: darkgrey;
}
body::before {
    display: block;
    content: "";
    height: 30px;
}
@media (min-width:320px) and (max-width:479px) {
    video{
        width: 100%;
        margin: 0;
    }
}
a:hover {
    font-size: large;
    cursor: pointer;
    color: white;
}
video{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
img{
    box-shadow: 4px 0px 4px 4px gray;
    border: 0.5px solid silver;
    padding: 5px;
}
img:hover{
    box-shadow: 5px 0px 5px 5px gray;
}
.infos {
    color: crimson;
    shape-rendering: auto;
    text-shadow: darkblue;
  }